@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject HabbitClient HabbitClient

<PageTitle>EHB</PageTitle>

<div class="page-header">
    <div class="header-container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/userHome" class="d-flex align-items-center col-md-3 mb-4 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <AuthorizeView Roles="user">
                <Authorized>
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/userHome" class="nav-link px-2 link-secondary">ℋome</a></li>
                        <li><a href="/itemsList" class="nav-link px-2 link-dark">Ῐtems List</a></li>
                        <li><a href="/about" class="nav-link px-2 link-dark">ⓐ bout</a></li>
                    </ul>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="admin">
                <Authorized>
                    <li><a href="/userHome" class="nav-link px-2 link-secondary">ℋome</a></li>
                    <li><a href="/itemsList" class="nav-link px-2 link-dark">Ῐtems List</a></li>
                    <li><a href="/about" class="nav-link px-2 link-dark">ⓐ bout</a></li>
                </Authorized>
            </AuthorizeView>

            <div class="col-md-3 text-end">
                <AuthorizeView>
                    <NotAuthorized>
                        <a href="/signup" class="btn btn-light alert font-monospace">Sign-up</a>
                        <a href="/login" class="btn btn-light alert font-monospace">Login</a>
                    </NotAuthorized>
                    <Authorized>
                        <a href="/logout" class="btn btn-light alert font-monospace">Logout</a>
                    </Authorized>
                </AuthorizeView>

            </div>
        </header>
    </div>
</div>
<AuthorizeView>
     <NotAuthorized>
        <div class="habbit-card">
            <img />
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading" style="font-family: 'Montserrat', sans-serif">Welcome dear user!</h4>
                <p style="font-family: 'Montserrat', sans-serif">Please sign up, So you can browse Eleni's healthy habits.</p>
                <hr>
                <p class="mb-0" style="font-family: 'Great Vibes', cursive;">And remember your journey to wellness begins with a single step towards a healthier you.</p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>