@page "/policy"
@using System.Globalization

<h1>Policy Statement</h1>

<div class="policy-container">
    <h2>Non-Profit Nature</h2>
    <p>
        Eleni's Healthy Habits is a non-profit blog dedicated to sharing personal experiences and insights on health, nutrition, and wellness. This platform is driven by a passion for promoting healthy living and is not motivated by any commercial interests or profit.
    </p>

    <h2>Personal Experiences and Content</h2>
    <p>
        All content provided on Eleni's Healthy Habits, including but not limited to articles, recipes, and health tips, is based on personal experiences and research conducted by Eleni. The information shared is intended to inspire and inform readers but is not a substitute for professional medical advice, diagnosis, or treatment.
    </p>

    <h2>Voluntary Participation</h2>
    <p>
        Any actions you take based on the information found on this blog are done at your own discretion. We do not urge or compel you to try any of the suggestions, recipes, or products mentioned. Your decision to use any information provided on this blog is purely voluntary and should be made after careful consideration and consultation with a healthcare professional if necessary.
    </p>

    <h2>Disclaimer of Liability</h2>
    <p>
        Eleni's Healthy Habits does not accept any responsibility for any consequences that may arise from following the information or suggestions provided on this blog. We expressly disclaim all liability for any damages, loss, or injury arising from the use or misuse of any content shared on this platform. By using this blog, you agree to hold Eleni's Healthy Habits harmless from any claims or liabilities resulting from your actions.
    </p>
</div>

<style>
  

    .policy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333;
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        color: #ff6347;
        margin-bottom: 40px;
    }

    h2 {
        color: #add8e6;
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
        color: #4682b4;
        margin-bottom: 20px;
    }

    h1, h2 {
        font-family: 'Roboto', sans-serif;
    }
</style>
