@page "/access-denied"


<div class="row mb70">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="content-404">
            <div class="relative">
                <div class="text-404"><i class="icon icon_lock_alt"></i></div>
                <h1 class="title-404 over-404">Access Denied!</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
        <p>You dont have permission to access this page.</p>
        <div class="br-bottom-center mb40 mt40"></div>
    </div>
</div>
